@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section>
    <div class="container">
        <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
                <div class="col-12 col-md-6 p-5 d-flex flex-column vh-100">
                    <div></div>
                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                        <div class="col-8">
                            <form id="account" method="post">
                                <h5>Start your journey</h5>
                                <h2 class="mb-4">Sign in to The App</h2>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                           aria-required="true"/>
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control"
                                           autocomplete="current-password" aria-required="true"/>
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div class="justify-content-center d-flex">
                                    <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary">Sign
                                        in
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <p>
                                Don't have an account?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                            </p>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot
                                    password?</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 text-bg-primary">

                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
